<?xml version="1.0" encoding="UTF-8"?><SystemProperties><SystemName>120-504902</SystemName><SerialNo>120-504902</SerialNo><UsedMedia><Media path="RobotWare_6.03.2009" name="RobotWare" version="6.03.2009" /></UsedMedia><ControlModule><Option descr="RobotWare Base"></Option><Option descr="709-1 DeviceNet Master/Slave"></Option></ControlModule><DriveModule><Name>Robot1</Name><Option descr="Motor Commutation"></Option><Option descr="Service Info System"></Option><Option descr="Pendelum Calibration"></Option><Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600 IRC5 Compact"></Option><Option descr="Axis Calibration"></Option><Option descr="IRB 120-3/0.6"></Option></DriveModule></SystemProperties>